<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Feature.Services" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-102.0.0.0" newVersion="102.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Daemon" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-102.0.0.0" newVersion="102.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Resources" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-102.0.0.0" newVersion="102.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.SolutionAnalysis" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-102.0.0.0" newVersion="102.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Psi" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-102.0.0.0" newVersion="102.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Daemon.Engine" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-102.0.0.0" newVersion="102.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>