body {
	background: lightgray;
	font-family: Arial;
	padding: 30px
}

form {
	margin: 10px 0 30px 0;
	padding: 0;
}

#content {
	background:white;
	width: 600px;
	padding: 20px;
	border: 1px solid grey;	
	-moz-border-radius: 15px;
	border-radius: 15px;
}

#header {
	display: block;
	margin-bottom: 10px;
}

h1 {
	font-size: 1.25em;
	font-weight: bold;
	margin: 0 0 10px 0;
	padding: 0;
}

#file {
	margin-bottom: 10px;
}

#confirm {
	float: left;
}

#hint {
	float:left;
	padding-left: 3px;
	width: 95%;
	fint-size:80%;
}

#submit-upload {
	clear: left;
	margin-top: 20px;
}

#footer {
	margin:10px 0px 0px 0px;
	font-size:80%;
}

#footer dt {
	float:left;
	width:35%;
	margin: 2px 0;
}

#footer dd {
	float:left;
	width:55%;
	margin: 2px 0;
}