body {
	background: lightgray;
	font-family: Arial;
	padding: 30px
}

form {
	margin: 10px 0 30px 0;
	padding: 0;
}

.space{
	margin-top: 10px;	
}

.it {
	font-style: italic;
}

.important {
	font-weight: bold;
}

#content {
	background:white;
	width: 720px;
	padding: 20px;
	border: 1px solid grey;	
	-moz-border-radius: 15px;
	border-radius: 15px;
}

#header {
	display: block;
	margin-bottom: 10px;
}

h1 {
	font-size: 1.25em;
	font-weight: bold;
	margin: 0 0 10px 0;
	padding: 0;
}

p {
	margin: 5px 0;
}

.spinner {
	display: none;
}

#file {
	margin-bottom: 10px;
}

#hint {
	padding-left: 3px;
	width: 95%;
}

#submit-upload {
	margin-top: 10px;
}

#footer {
	margin:10px 0px 0px 0px;
	font-size:80%;
	border: 1px solid lightgray;
	border-width: 1px 0 0 0;
}

#footer dt {
	float:left;
	width:35%;
	margin: 2px 0;
}

#footer dd {
	float:left;
	width:55%;
	margin: 2px 0;
}

fieldset {
	border: 1px solid lightgray;
	margin: 10px 0 30px 0;
	padding: 0 10px;
}

fieldset legend {
	color: gray;
	font-size: 80%;
}


li {
	list-style-type: disc;
	list-style-position: outside;
	margin: 8px 0 8px 15px;
}
