<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr4.Runtime.Standard" version="4.7.1" targetFramework="net45" />
  <package id="DotNetZip.Reduced" version="1.9.1.8" targetFramework="net40" />
  <package id="KaVE.Commons" version="0.0.1" targetFramework="net45" />
  <package id="mongocsharpdriver" version="1.10.0" targetFramework="net40" />
  <package id="Newtonsoft35.Json" version="7.0.1" targetFramework="net40" />
  <package id="SharpZipLib.JetBrains.Stripped" version="0.87.20161027.6" targetFramework="net45" />
  <package id="SmileNet" version="1.0.0" targetFramework="net45" />
  <package id="Svg" version="2.2.1" targetFramework="net40" />
  <package id="System.Data.SQLite.Core" version="1.0.98.1" targetFramework="net40" requireReinstallation="True" />
  <package id="System.Data.SQLite.Linq" version="1.0.98.1" targetFramework="net40" requireReinstallation="True" />
</packages>